.movies-card {
  display: flex;
  /* justify-content: space-between; */
  width: 454px;
  height: 281px;
  /* background-color: beige; */
  box-shadow: 10px 7px 25px -5px rgba(175, 172, 172, 0.5),
    0 -2px 7px rgba(0, 0, 0, -4.9);
}

.movies-img img {
  width: 183px;
  height: 281px;
}

.movies-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  padding: 10px 20px 50px 20px;
}

.movies-info p {
  font-size: 12px;
  line-break: anywhere;
  line-height: revert;
}

.info-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* width: 170px; */
}

.title-rating {
  display: flex;
  justify-content: space-between;
}

.info-rating {
  width: 35px;
  height: 35px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(56, 47, 47);
}

.info-rating.green {
  border: 3px solid rgb(150, 221, 150);
}

.info-rating.orange {
  border: 3px solid orange;
}

.info-rating.red {
  border: 3px solid red;
}

/* .custom-rate{
  margin-bottom: 10px;
} */

/* .info-genre{
  border: 2px solid red
} */
