.movies-card {
  display: flex;
  justify-content: space-between;
  width: 454px;
  height: 281px;
  /* background-color: beige; */
  box-shadow: 10px 7px 25px -5px rgba(175, 172, 172, 0.5),
    0 -2px 7px rgba(0, 0, 0, -4.9);
}

.movies-img img {
  width: 183px;
  height: 281px;
}

.movies-info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
  padding: 10px 20px 50px 20px;
}

.movies-info p {
  font-size: 12px;
}
