.movies-card {
  display: flex;
  justify-content: space-between;
  width: 454px;
  height: 281px;
  background-color: beige;
}

.movies-img img {
  width: 183px;
  height: 281px;
}

.movies-info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
  padding: 10px 20px 50px 20px;
}

.movies-info p {
  font-size: 12px;
}
